* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

/* ================================ */
/*             BODY                 */
/* ================================ */

body {
    background: linear-gradient(120deg, #434343, #1f1f1f, #313131);
    background-size: 400% 400%;
    animation: bgMove 20s linear infinite;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-family: 'Orbitron';
    gap: 2rem;
    min-height: 100vh;
}

@keyframes bgMove {
    0% { background-position: 0% 50%; }
    25% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    75% { background-position: 100% 50%; }
    100% { background-position: 100% 50%; }
}

/* =========== Header =========== */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    color: rgb(0, 0, 0);
    padding: 20px 150px 20px 150px;
    gap: 1rem;
    background-color: #f6f6f6;
}

header>p {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1.6px;
}

/* =========== Main =========== */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
    flex: 1;
}

#intro>p {
    font-size: 0.85rem;
    font-weight: 600;
    color: #7dfed1;
    letter-spacing: 1.6px;
}

/* ----- Projects ----- */

#projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0px 20px 0px 20px;
}

.progress-wrapper {
    display: flex;
    padding: 5px 0px 40px 0px;
}

.progress-bar {
    width: 100%;
    height: 19px;
    border-radius: 99px;
    background-color: #252525;
    position: relative;
    overflow: visible;
}

.progress-fill {
    width: 100%;
    height: 19px;
    border-radius: 10px 0px 00px 10px;
    background-color: #6ce35ff9;
    overflow: hidden;
    margin: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    overflow: hidden;
    animation: fillGlow 3s ease-in-out infinite alternate;
}

@keyframes fillGlow {
    0% {
        filter: brightness(1) saturate(1);
    }

    100% {
        filter: brightness(1.3) saturate(1.4);
    }
}

.progress-fill .bubbles {
    position: absolute;
    inset: 0;
    pointer-events: none;
    background:
        radial-gradient(circle, rgba(255, 255, 255, 0.4) 20%, transparent 70%) 0 0 / 8px 8px,
        radial-gradient(circle, rgba(255, 255, 255, 0.35) 20%, transparent 70%) 20px 10px / 10px 10px,
        radial-gradient(circle, rgba(255, 255, 255, 0.25) 20%, transparent 70%) 40px 20px / 6px 6px,
        radial-gradient(circle, rgba(255, 255, 255, 0.5) 20%, transparent 70%) 60px 30px / 12px 12px;
    animation: bubblesMove 15s linear infinite;
    opacity: 0.5;
    z-index: 0;
}

@keyframes bubblesMove {
    0% {
        background-position:
            0px 0px,
            20px 10px,
            40px 20px,
            60px 30px;
    }

    100% {
        background-position:
            80px 0px,
            100px 10px,
            120px 20px,
            140px 30px;
    }
}

.project-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1 1 calc(25% - 1.5rem);
    min-width: 300px;
    min-height: 400px;
    max-width: 300px;
    max-height: 600px;
    background-color: rgb(50, 54, 53);
    ;
    /* box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); */
    /*animation transform*/
    transition:
        transform .6s ease,
        filter .18s ease,
        opacity .18s ease,
        background 0.95s ease,
        color 0.10s ease;
    position: relative;
    transform-style: preserve-3d;
    cursor: pointer;
    font-size: 0.85rem;
    border-radius: 20px;
}

.project-card:hover {
    transform: translateY(-2px) scale(1.05);
}

.project-card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(120deg, #515151, #3c3c3c, #525252);
    background-size: 200% 200%;
    /* animation gradient */
    animation: gradientMove 15s ease infinite;
    z-index: 0;
    border-radius: 20px;
}

.project-card.progress-none::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(120deg, #155863, #3b8c99, #139fb5);
    background-size: 200% 200%;
    /* animation gradient */
    animation: gradientMove 15s ease infinite;
    z-index: 0;
    border: 1px solid black;
    box-shadow: 0 3px 10px rgba(0, 131, 129, 0.941);
}

.project-card.progress-complete::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(120deg, #18a03a, #1cb342, #058425);
    background-size: 200% 200%;
    /* animation gradient */
    animation: gradientMove 15s ease infinite;
    z-index: 0;
    border: 2px solid white;
    rgba(60, 237, 234, 0.941)rgba(60, 237, 110, 0.941)rgba(21, 252, 87, 0.941);
    box-shadow: 0 3px 10px rgba(16, 255, 52, 0.941);
}

.project-card.progress-some::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(120deg, #1b84a7, #0ea454, #0c8f61);
    background-size: 300% 300%;
    /* animation gradient */
    animation: gradientMove 15s ease infinite;
    z-index: 0;
    border: 1px solid black;
    box-shadow: 0 3px 10px rgba(12, 76, 22, 0.941);
}

@keyframes gradientMove {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.project-card>* {
    position: relative;
    z-index: 1;
}

.project-card.flipped {
    transform: rotateY(180deg);
}

.project-card .front,
.project-card .back {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

/* Cara trasera */
.project-card .back {
    transform: rotateY(180deg);
    padding: 40px;
}

.progress-number {
    font-size: 0.8rem;
    font-weight: 700;
    font-family: 'Orbitron';
    letter-spacing: 0px;
    color: black;
    padding-left: 10px;
    z-index: 1;
}

.project-title {
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Orbitron';
    letter-spacing: 1px;
}

.project-description {
    font-size: 0.7rem;
    font-weight: 800;
    font-family: 'Orbitron';
    letter-spacing: 2.5px;
}

.project-status {
    font-size: 0.7rem;
    font-weight: 800;
    font-family: 'Orbitron';
    letter-spacing: 2px;
}

.project-category {
    font-size: 0.7rem;
    font-weight: 800;
    font-family: 'Orbitron';
    letter-spacing: 2px;
}

.card-click {
    font-size: 0.65rem;
    font-weight: 700;
    font-family: 'Orbitron';
    letter-spacing: 2px;
    color: yellow;
    width: 100%;
    text-align: left;
    bottom: 20px;
    position: absolute;
}

.milestone {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.milestone::before {
    content: "";
    width: 3px;
    height: 17px;
    border-radius: 0%;
    border: 1px solid rgb(255, 255, 255);
    background: #ffffff;
    display: block;
}

.milestone span {
    position: absolute;
    top: 160%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.60rem;
    font-family: 'Orbitron';
    letter-spacing: 0px;
    white-space: nowrap;
}


/* ----- Intro ----- */

#intro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 10px 150px 10px 150px;
    background-color: rgb(53, 53, 53);
}

/* ----- Summary ----- */

#summary>ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

/* =========== Footer =========== */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(218, 218, 218);
    color: black;
    padding: 20px 20px 20px 20px;
    margin-top: 50px;
    font-weight: 700;
    width: 100%;
}