* {
    margin: 0;
    padding: 0;
}

/* ================================ */
/*             BODY                 */
/* ================================ */

body {
    background-color: #242424;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-family: 'Jersey 25';
    gap: 2rem;
}

/* =========== Header =========== */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px 20px 0px;
    font-weight: 500;
    color: black;
    padding: 20px 20px 20px 20px;
    gap: 1rem;
    background-color: rgb(241, 255, 112);
}

/* =========== Main =========== */

main {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

/* ----- Projects ----- */

#projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0px 20px 0px 20px;
}

.progress-wrapper {
    display: flex;
    padding: 5px 0px 20px 0px;
}

.progress-bar {
    width: 100%;
    height: 19px;
    border-radius: 99px;
    background-color: #252525;
    position: relative;
    overflow: visible;
}

.progress-fill {
    width: 100%;
    height: 19px;
    border-radius: 10px 0px 00px 10px;
    background-color: #6ce35ff9;
    overflow: hidden;
    margin: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.project-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1 1 calc(25% - 1.5rem);
    min-width: 200px;
    min-height: 100px;
    max-width: 300px;
    max-height: 400px;
    background-color: rgb(50, 54, 53);
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    /*animation transform*/
    transition: transform .18s ease, filter .18s ease, opacity .18s ease;
    /*color animation*/
    transition: background 0.95s ease, color 0.10s ease;
}

.project-card:hover {
    transform: translateY(-2px) scale(1.05);
    background: rgb(241, 255, 119);
    color: black;
}

.progress-number {
    font-size: 0.9rem;
    font-weight: 700;
    font-family: 'Jersey 25';
    letter-spacing: 0px;
    color: black;
    padding-left: 10px;
}

.project-title {
    font-size: 1.4rem;
    font-weight: 700;
    font-family: 'Jersey 25';
    letter-spacing: 1px;
}

.project-description {
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Jersey 25';
    letter-spacing: 0px;
}

.project-status {
    font-size: 0.9rem;
    font-weight: 500;
    font-family: 'Jersey 25';
    letter-spacing: 0px;
}

.project-category {
    font-size: 0.9rem;
    font-weight: 500;
    font-family: 'Jersey 25';
    letter-spacing: 0px;
}

.milestone {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.milestone::before {
    content: "";
    width: 3px;
    height: 19px;
    border-radius: 0%;
    border: 1px solid rgb(255, 255, 255); 
    background: #ffffff;
    display: block;
}

.milestone span {
    position: absolute;
    top: 160%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.7rem;
    font-family: 'Jersey 25';
    letter-spacing: 0px;
    white-space: nowrap;
}


/* ----- Intro ----- */

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px 0px 20px;
}

/* ----- Summary ----- */

#summary>ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

/* =========== Footer =========== */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(241, 255, 112);
    color: black;
    padding: 20px 20px 20px 20px;
    margin-top: 50px;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    width: 100%;
}